In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 5GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [1]:
import pandas as pd
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
import cv2
from tqdm import tqdm
import os

In [2]:
# import train_csv

import pandas as pd
classes = pd.read_csv('../input/planets-dataset/planet/planet/train_classes.csv')

In [3]:
#split the various tags in train_csv
classes['splitted tags'] = classes['tags'].apply(lambda x: x.split())

In [4]:
# combine all tags into a set to know the unique number of tags
combine_list = []
for i, n in enumerate(classes['splitted tags']):
    combine_list.extend(n)
combine_set = set(combine_list) 
len(combine_set)

17

In [5]:
# visualize how frequent the different labels occur

# from collections import Counter
# count_dic = Counter(combine_list)
# count_df = pd.DataFrame(count_dic, index = ['counts']).T
# plt.figure(figsize=(10, 8))
# sns.barplot(x=count_df.index, y= count_df['counts'])
# plt.xticks(rotation= 45, fontsize = 13)

In [6]:
# building the train_labels
columns = sorted(list(combine_set))
train_labels = pd.DataFrame(np.zeros((40479, 17)), columns = columns)
train_labels

,agriculture,artisinal_mine,bare_ground,blooming,blow_down,clear,cloudy,conventional_mine,cultivation,habitation,haze,partly_cloudy,primary,road,selective_logging,slash_burn,water
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40474,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40475,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40476,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40477,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
40478,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
for n, lists in tqdm(enumerate(classes['splitted tags'])):
    for column in lists:
        train_labels[column][n]=1

40479it [00:27, 1497.05it/s]

In [8]:
train_labels['image_name'] = classes['image_name'] + '.jpg'
train_labels

,agriculture,artisinal_mine,bare_ground,blooming,blow_down,clear,cloudy,conventional_mine,cultivation,habitation,haze,partly_cloudy,primary,road,selective_logging,slash_burn,water,image_name
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,train_0.jpg
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,train_1.jpg
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,train_2.jpg
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,train_3.jpg
4,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,train_4.jpg
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40474,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,train_40474.jpg
40475,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,train_40475.jpg
40476,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,train_40476.jpg
40477,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,train_40477.jpg
40478,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,train_40478.jpg

In [9]:
import tensorflow as tf
from keras.preprocessing.image import ImageDataGenerator
from keras.models import Sequential
from keras.layers import Dense, Dropout, Activation, Flatten
from keras.layers import Conv2D, MaxPooling2D
from keras.optimizers import SGD, Adam
from keras.applications import VGG16
from keras.models import Model

In [10]:
# defining the metric value function
from keras import backend

def fbeta(y_true, y_pred, beta=2):
    #clip predictions
    y_pred = backend.clip(y_pred, 0, 1)
    # calculate elements
    tp = backend.sum(backend.round(backend.clip(y_true * y_pred, 0, 1)), axis = 1)
    fp = backend.sum(backend.round(backend.clip(y_true - y_pred, 0, 1)), axis = 1)
    fn = backend.sum(backend.round(backend.clip(y_pred - y_true, 0, 1)), axis = 1)
    
    # calculate precision
    p = tp/(tp + fp + backend.epsilon())
    #calculate recall
    r = tp / (tp + fn + backend.epsilon())
    #calculate fbeta
    bb = beta ** 2
    fbeta_score = backend.mean((1+ bb) * (p * r)/ (bb * p + r + backend.epsilon()))
    return fbeta_score

In [11]:
train_datagen = ImageDataGenerator(featurewise_center = True)
#                                   horizontal_flip = True,
#                                   vertical_flip = True,
#                                   rotation_range = 90)
val_datagen = ImageDataGenerator(featurewise_center = True)
train_datagen.mean = [123.68, 116.779, 103.939]
val_datagen.mean= [123.68, 116.779, 103.939]

In [12]:
columns

['agriculture',
 'artisinal_mine',
 'bare_ground',
 'blooming',
 'blow_down',
 'clear',
 'cloudy',
 'conventional_mine',
 'cultivation',
 'habitation',
 'haze',
 'partly_cloudy',
 'primary',
 'road',
 'selective_logging',
 'slash_burn',
 'water']

In [13]:
# creating a scaled iterator ti feed into model
train_it = train_datagen.flow_from_dataframe(train_labels[: 30479], 
                                             directory = '../input/planets-dataset/planet/planet/train-jpg', 
                                             x_col = 'image_name', y_col = columns, 
                                             class_mode= 'raw', batch_size = 64, target_size = (128, 128))
val_it = val_datagen.flow_from_dataframe(train_labels[30479:], 
                          directory = '../input/planets-dataset/planet/planet/train-jpg', 
                          x_col = 'image_name', 
                          y_col = columns,
                          class_mode= 'raw', 
                          batch_size = 64, target_size = (128, 128))

Found 30479 validated image filenames.
Found 10000 validated image filenames.

In [14]:
len(train_it)

477

In [15]:
import gc
gc.collect()

122

In [17]:
# load model
model = VGG16(include_top = False, input_shape= (128, 128, 3))

# mark loaded layers as not trainable
for layer in model.layers:
    layer.trainable = False
    
# allow las vgg block to be trainable
model.get_layer('block5_conv1').trainable = True
model.get_layer('block5_conv2').trainable = True
model.get_layer('block5_conv3').trainable = True
model.get_layer('block5_pool').trainable= True

# add new classifier layers
flat1 = Flatten()(model.layers[-1].output)
class1 = Dense(128, activation='relu')(flat1)
output = Dense(17, activation='sigmoid')(class1)

# define new model
model = Model(inputs=model.inputs, outputs=output)
opt = SGD(lr=0.0001, momentum=0.9)
# compile model
model.compile(optimizer= opt, loss = 'binary_crossentropy', metrics = [fbeta])

Downloading data from https://storage.googleapis.com/tensorflow/keras-applications/vgg16/vgg16_weights_tf_dim_ordering_tf_kernels_notop.h5
58892288/58889256 [==============================] - 2s 0us/step

In [18]:
history = model.fit_generator(train_it, steps_per_epoch = len(train_it), validation_data = val_it, 
                             validation_steps = len(val_it), epochs = 25)

Epoch 1/25
477/477 [==============================] - 127s 265ms/step - loss: 0.2557 - fbeta: 0.7633 - val_loss: 0.1874 - val_fbeta: 0.8174
Epoch 2/25
477/477 [==============================] - 109s 229ms/step - loss: 0.1748 - fbeta: 0.8298 - val_loss: 0.1669 - val_fbeta: 0.8413
Epoch 3/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1591 - fbeta: 0.8485 - val_loss: 0.1562 - val_fbeta: 0.8517
Epoch 4/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1496 - fbeta: 0.8591 - val_loss: 0.1488 - val_fbeta: 0.8608
Epoch 5/25
477/477 [==============================] - 109s 228ms/step - loss: 0.1431 - fbeta: 0.8663 - val_loss: 0.1436 - val_fbeta: 0.8665
Epoch 6/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1381 - fbeta: 0.8711 - val_loss: 0.1399 - val_fbeta: 0.8705
Epoch 7/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1341 - fbeta: 0.8754 - val_loss: 0.1370 - val_fbeta: 0.8764
Epoch 8/25
477/477 [==============================] - 109s 228ms/step - loss: 0.1309 - fbeta: 0.8784 - val_loss: 0.1343 - val_fbeta: 0.8775
Epoch 9/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1281 - fbeta: 0.8815 - val_loss: 0.1321 - val_fbeta: 0.8789
Epoch 10/25
477/477 [==============================] - 109s 228ms/step - loss: 0.1257 - fbeta: 0.8834 - val_loss: 0.1300 - val_fbeta: 0.8791
Epoch 11/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1237 - fbeta: 0.8860 - val_loss: 0.1286 - val_fbeta: 0.8824
Epoch 12/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1219 - fbeta: 0.8875 - val_loss: 0.1273 - val_fbeta: 0.8848
Epoch 13/25
477/477 [==============================] - 107s 225ms/step - loss: 0.1202 - fbeta: 0.8889 - val_loss: 0.1260 - val_fbeta: 0.8843
Epoch 14/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1188 - fbeta: 0.8910 - val_loss: 0.1248 - val_fbeta: 0.8849
Epoch 15/25
477/477 [==============================] - 109s 228ms/step - loss: 0.1174 - fbeta: 0.8916 - val_loss: 0.1239 - val_fbeta: 0.8879
Epoch 16/25
477/477 [==============================] - 108s 226ms/step - loss: 0.1162 - fbeta: 0.8927 - val_loss: 0.1231 - val_fbeta: 0.8863
Epoch 17/25
477/477 [==============================] - 108s 226ms/step - loss: 0.1150 - fbeta: 0.8940 - val_loss: 0.1224 - val_fbeta: 0.8894
Epoch 18/25
477/477 [==============================] - 107s 225ms/step - loss: 0.1140 - fbeta: 0.8955 - val_loss: 0.1215 - val_fbeta: 0.8893
Epoch 19/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1129 - fbeta: 0.8958 - val_loss: 0.1209 - val_fbeta: 0.8886
Epoch 20/25
477/477 [==============================] - 109s 228ms/step - loss: 0.1120 - fbeta: 0.8968 - val_loss: 0.1205 - val_fbeta: 0.8920
Epoch 21/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1111 - fbeta: 0.8976 - val_loss: 0.1201 - val_fbeta: 0.8892
Epoch 22/25
477/477 [==============================] - 109s 228ms/step - loss: 0.1103 - fbeta: 0.8987 - val_loss: 0.1192 - val_fbeta: 0.8916
Epoch 23/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1094 - fbeta: 0.8993 - val_loss: 0.1188 - val_fbeta: 0.8919
Epoch 24/25
477/477 [==============================] - 108s 226ms/step - loss: 0.1087 - fbeta: 0.8999 - val_loss: 0.1185 - val_fbeta: 0.8934
Epoch 25/25
477/477 [==============================] - 108s 227ms/step - loss: 0.1079 - fbeta: 0.9007 - val_loss: 0.1187 - val_fbeta: 0.8929

In [19]:
model.save('semifinal_model.h5')

In [20]:
import gc
gc.collect()

52

In [21]:
import numpy as np
test_images = []
for img1 in os.listdir('../input/planets-dataset/planet/planet/test-jpg'):
    test_images.append('../input/planets-dataset/planet/planet/test-jpg/{}'.format(img1))
for image in os.listdir('../input/planets-dataset/test-jpg-additional/test-jpg-additional'):
    test_images.append('../input/planets-dataset/test-jpg-additional/test-jpg-additional/{}'.format(image))

In [22]:
test_labels = pd.DataFrame(test_images, columns = ['image_names'])
test_labels

                                             image_names
0      ../input/planets-dataset/planet/planet/test-jp...
1      ../input/planets-dataset/planet/planet/test-jp...
2      ../input/planets-dataset/planet/planet/test-jp...
3      ../input/planets-dataset/planet/planet/test-jp...
4      ../input/planets-dataset/planet/planet/test-jp...
...                                                  ...
61186  ../input/planets-dataset/test-jpg-additional/t...
61187  ../input/planets-dataset/test-jpg-additional/t...
61188  ../input/planets-dataset/test-jpg-additional/t...
61189  ../input/planets-dataset/test-jpg-additional/t...
61190  ../input/planets-dataset/test-jpg-additional/t...

[61191 rows x 1 columns]

In [23]:
test_datagen = ImageDataGenerator(featurewise_center= True)
test_datagen.mean = [123.68, 116.779, 103.939]
test_generator= test_datagen.flow_from_dataframe(test_labels, directory = None,
                                                 x_col = 'image_names', 
                                                 y_col = None, batch_size = 64, 
                                                 class_mode=None, target_size=(128, 128), 
                                                 shuffle = False)

Found 61191 validated image filenames.

In [24]:
test_generator.reset()
pred = model.predict_generator(test_generator, steps = len(test_generator))

In [25]:
pred = pred.round()

In [26]:
predictions = pd.DataFrame(pred, columns = columns)

In [27]:
predictions['image_name'] = test_labels['image_names'].apply(lambda x: x.split('/')[-1])

In [28]:
def get_columns_ones(df, n):
    d = dict(zip(df.columns, list(df.iloc[n])))
    # extract keys of dict with ones
    l = [k for k, v in d.items() if v == 1.0]
    result = ' '.join(l)
    return result

In [29]:
predictions2 = predictions.copy()
predictions2['tags'] = 0
for i in predictions2.index:
    predictions2['tags'][i] = get_columns_ones(predictions, i)
predictions2

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/opt/conda/lib/python3.7/site-packages/pandas/core/indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)

,agriculture,artisinal_mine,bare_ground,blooming,blow_down,clear,cloudy,conventional_mine,cultivation,habitation,haze,partly_cloudy,primary,road,selective_logging,slash_burn,water,image_name,tags
0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,test_32347.jpg,clear primary
1,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,test_29340.jpg,agriculture clear cultivation primary
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,test_33303.jpg,clear primary
3,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,test_4963.jpg,clear primary water
4,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,test_1886.jpg,clear primary
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61186,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,file_2609.jpg,clear primary
61187,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,file_12444.jpg,clear primary
61188,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,file_7403.jpg,clear primary
61189,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,file_19350.jpg,clear primary
61190,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,file_13842.jpg,agriculture clear primary

In [30]:
predictions2 = predictions2[['image_name', 'tags']]

In [31]:
predictions2['image_name'] = predictions2['image_name'].apply(lambda x: x.split('.')[0])
predictions2

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

       image_name                                   tags
0      test_32347                          clear primary
1      test_29340  agriculture clear cultivation primary
2      test_33303                          clear primary
3       test_4963                    clear primary water
4       test_1886                          clear primary
...           ...                                    ...
61186   file_2609                          clear primary
61187  file_12444                          clear primary
61188   file_7403                          clear primary
61189  file_19350                          clear primary
61190  file_13842              agriculture clear primary

[61191 rows x 2 columns]

In [32]:
submission = pd.read_csv('../input/planets-dataset/planet/planet/sample_submission.csv')
submission

      image_name                                  tags
0         test_0  primary clear agriculture road water
1         test_1  primary clear agriculture road water
2         test_2  primary clear agriculture road water
3         test_3  primary clear agriculture road water
4         test_4  primary clear agriculture road water
...          ...                                   ...
61186  file_9995  primary clear agriculture road water
61187  file_9996  primary clear agriculture road water
61188  file_9997  primary clear agriculture road water
61189  file_9998  primary clear agriculture road water
61190  file_9999  primary clear agriculture road water

[61191 rows x 2 columns]

In [33]:
new_submissions = pd.merge(submission, predictions2, on='image_name', how='left')

In [34]:
new_submissions.columns = ['image_name', 'remove', 'tags']
new_submission = new_submissions.drop(columns= 'remove')

In [35]:
new_submission.to_csv('submission.csv', index=False)